body{
    background-color: gray;
    font-family: Arial;
    text-align: center;
  }
  
  h1{
    color: green;
    font-size: 50px;
  }
  
  a{
    text-decoration: none;
    transition: all 0.2s ease;
  }
  
  a:hover{
    font-size: 20px;
    color: red;
  }
  
  img{
    width: 400px;
    border: 5px solid black;
    border-radius: 30px;
  }
  
  .firstDiv{
    width: 500px;
    border: 5px solid orange;
    border-radius: 10px;
    background-color: white;
    margin: 10px auto;
  }